{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polls App</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

<body>

  <div id="root">
    <div id="sidebar">
      <div class="head">
        <div id="logo" alt="Django Logo"></div>
        <h4>Django Proyect</h4>
      </div>

      <div class="menubar">
        <a class="clickable" href="{% url 'polls:index' %}"><i class="fa fa-home"></i> Home </a>
        <a class="clickable" href="https://docs.djangoproject.com/en/3.2/intro/tutorial01/"><i class="fas fa-link"></i> Tutorial </a>
      </div>
    </div>

    <div id="content">
      <div class="card">
        <div class="title">
          <h2> {% block title %} Title {% endblock title %} </h2>
        </div>
        <div class="body">
          {% block body %} {% endblock body %}
        </div>
        <div class="footer">
          {% block footer %} {% endblock footer %}
        </div>
      </div>
    </div>

  </div>

  <div id="footer">
    &#169 Python Django Tutorial.
  </div>

</body>

</html>